@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Poppins:wght@300&display=swap');

body{
  background-color: rgb(107 122 194 / 54%);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}
.Navbar {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 4vw;
  box-shadow: 0vw 1vw 1vw black;
}


ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 1vw;
  font-size:2vw;
  gap: 5vw;
}

ul li {
  margin-right: 20px;
}
form{
  margin-top: 2vw;
  margin-left: 37vw;
}
input{
  width: 26vw;
  height: 2vw;
  text-align: center;
  font-size: 1vw;
  border-radius: 0.5vw;
  box-shadow: 0vw 1vw 1vw black;
}
.form {
  margin-left: 3vw;
  width: 5vw;
  font-size: 1vw;
  border-radius: 0.3vw;
  background-color: rgb(202, 72, 72);
  font-weight: 900;
  box-shadow: 0vw 0.1vw 1vw black;
}
.container{
  display: flex;
  gap: 5vw;
  margin-left: 5vw;
  margin-top: 5vw;
  margin-right: 5vw;
  flex-direction: column;
}
.cont1,.cont2,.cont3{
  background-color: antiquewhite;
  width: 100%;
  border-radius: 1vw;
  text-align: center;
  box-shadow: 0vw 1vw 1vw black;
  border: 0.5vw 1.5vw 0.5vw black;
  margin-top: -2vw;
}
img{
  width: 25vw;
  margin-top: 1.5vw;
  border-radius: 1.5vw;
}
.formbox {
  margin-top: 4vw;
  background-color: white;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  width: 36vw;
  margin-left: 30vw;
  border-radius: 1vw;
  box-shadow: 0vw 1vw 1vw black;
}

.formbox input{
  margin-right: 36vw;
  margin-top: 2vw;
}

.formbox h1{
  margin-bottom: -2vw;
}

.formbox button {
  margin-top: 4vw;
  margin-left: 8.8vw;
  width: 8vw;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: 1vw;
}

.formbox button :hover{
  background-color: rgb(202, 72, 72);
}

.update{
  margin-left: 1vw;

}

